.contact_container {
  max-width: 860px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 50px;

  .info_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;

    h2 {
      background-image: linear-gradient(
        135deg,
        var(--colors-pink) 0%,
        var(--colors-purple) 100%
      );
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 62px;
    }

    p,
    li,
    span,
    a {
      font-size: 24px;
      color: var(--text--color);
    }

    li {
      color: white;
    }
    a,
    svg,
    path {
      color: var(--colors-orange);
    }
    li {
      display: flex;
    }
  }

  form {
    width: 100%;
    margin: 0 auto;
    position: relative;

    textarea,
    input,
    input[type='submit'] {
      outline: none;
      border: none;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      background-color: var(--primary--gray);
    }

    .alert {
      position: fixed;
      top: 100px;
      right: 10px;
      background-color: #62ac62;
      padding: 10px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      /* animation: slidein 2s forwards; */
      animation: slidein 1s forwards;
    }

    .form_content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .error__message {
        padding: 10px 0;
      }

      .text {
        gap: 20px;
        display: flex;

        label {
          flex: 1;

          input {
            width: 100%;
          }
        }
      }

      textarea {
        width: 100%;
        resize: none;
      }
    }
    input[type='submit'] {
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

@media (max-width: 740px) {
  .contact_container {
    .info_contact {
      padding: 20px;
      height: 400px;
      justify-content: space-around;
      h2 {
        font-size: 35px;
      }
      p,
      li,
      span,
      a {
        font-size: 15px;
      }
    }

    form {
      width: 75%;
      .form_content {
        width: 100%;
      }

      textarea,
      input,
      input[type='submit'] {
        font-size: 12px;
      }
    }
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  /* 100% {
    opacity: 0;
  } */
}
