.navContent {
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 0 80px;
    font-size: 24px;
    /* position: absolute; */
    .close_btn {
      display: none;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo {
        font-weight: 700;
        font-size: 30px;

        a {
          padding: 3px 10px;
          border-radius: 5px;
          transition: all 0.3s;
          &:hover {
            background-color: var(--primary--gray);
          }
        }
      }

      .links {
        display: flex;
        gap: 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        a {
          color: var(--text--color);
          padding: 10px 20px;
          transition: all 0.3s;
          border-radius: 5px;

          &:hover {
            color: rgba(255, 255, 255, 0.884);
            background-color: var(--primary--gray);
          }
        }
      }

      .search {
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
          background-color: var(--primary--gray);
        }
      }
    }
    .bg {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(28, 28, 28, 0.48);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .search__container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 70%;
      /* overflow-y: scroll; */
      background-color: #1d1e1c;
      padding: 0;
      z-index: 11;
      /* &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #0c0c0ce8;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      } */
      .top {
        height: 70px;
        position: sticky;
        top: -2px;
        outline: none;
        border: none;
        background-color: transparent;
        input {
          width: 100%;
          /* position: absolute; */
          /* top: 0; */
          height: 100%;
          outline: none;
          border: none;
          background-color: #1d1e1c;
          padding: 0 30px;
          font-size: 24px;
        }
      }

      .categories {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 15px;

        .category {
          display: flex;
          flex-direction: column;

          p {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 15px;
          }

          a {
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 10px;

            span,
            svg,
            path {
              color: var(--text--color);
            }
            &:hover {
              background-color: var(--primary--gray);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 740px) {
  .navContent {
    position: absolute;
    width: 100vw;
    .navbar {
      overflow: hidden;
      width: 100%;
      height: 100vh;
      position: relative;

      /* height: 100vh; */
      /* flex-direction: column; */
      /* justify-content: space-around; */

      .close_btn {
        display: block;
        position: fixed;
        font-size: 38px;
        top: 15px;
        right: 15px;
        z-index: 10;
        cursor: pointer;
      }

      .menu {
        /* transform: translateX(3000px); */
        transition: all 0.5s;
        top: 0;
        left: 3000px;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #05070e;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 80px;
      }

      .menu.open {
        /* transform: translateX(0); */
        left: 0;
        z-index: 9;
      }

      .links {
        flex-direction: column;
        text-align: center;

        a {
          font-size: 26px;
        }
      }

      .search__container {
        width: 90%;
      }
    }
  }
}
