@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&family=Roboto:wght@100;400;500;700&display=swap');

:root {
  --primary--gray: rgba(74, 74, 74, 0.519);
  --secondary--gray: rgb(255, 255, 255);
  --text--color: rgba(255, 255, 255, 0.537);
  --colors-green: #8aff80;
  --colors-cyan: #80ffea;
  --colors-pink: #ff80bf;
  --colors-purple: #9580ff;
  --colors-orange: rgb(229, 174, 73);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #05070e;

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    width: 100vw;
    overflow: hidden;
  }

  /* .hide {
    height: 100vh;
    padding: 30px 5px;
    overflow-y: hidden;
  } */
}
html {
  overflow-x: hidden;
}
